[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pymongo = "*"
environs = "*"
"discord.py" = "*"

[dev-packages]
requests-mock = "*"
pytest-mongodb = "*"
dpytest = "*"
pytest-envvars = "*"
black = "*"
flit = "*"
pytest-asyncio = "*"
pytest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
